@{
    Layout = null;
}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="@Url.Content("~/Admin")"><i class="fa fa-dashboard fa-fw"></i> 控制台</a>
            </li>
            <li>
                <a href="@Url.Content("~/Admin/Setting")"><i class="fa fa-cog fa-fw"></i> 參數設定</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> 參考範例<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/Example/Employees")"><i class="fa fa-database fa-fw"></i> CRUD</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Example/Tables")"><i class="fa fa-table fa-fw"></i> 表格</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Example/Forms")"><i class="fa fa-list-alt fa-fw"></i> 表單</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Example/Images")"><i class="fa fa-file-image-o fa-fw"></i> 上傳圖片</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/fileman/dev.html")"><i class="fa fa-folder-open-o fa-fw"></i> 檔案總管</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Content("~/Default/Blank")">Blank Page</a>
                    </li>
                    <li>
                        <a href="@Url.Content("~/Default/Login")">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
